body {
	background-color: #eee;
}

.expiredColor {
	border-radius: 10px;
	background-color: #f0ad4e;
}

.readyColor {
	border-radius: 10px;
	background-color: #5bc0de;
}

.blockedColor {
	border-radius: 10px;
	background-color: #d9534f;
}

.execColor {
	border-radius: 10px;
	background-color: #5cb85c;
}

.processBg {
	border-radius: 7px;
	background-color: #DADFE0;
	text-align: center;
}

.processBg span {
	margin: 5px;
}

#statisticsButton {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: text-top;
}

#logsButton{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 30px;
	vertical-align: text-top;	
}

#info {
	width: 500px;
	margin: 20px;
	margin-left: 100px;
	margin-right: 120px;
	text-align: center;
	vertical-align: text-top;
}

#counter {
	padding: 10px;
	text-align: center;
    width: 100px;
	margin: 20px;
	margin-left: 30px;
	background-color: #DADFE0;
}
