body {
	background-color: #FFF;
}

.mainPage {
	position: fixed;
	top: -10%;
	left: 5%;
	width: 80%;
}

.mainPage a {
	width: 18%;
}

.linuxLogo {
	position: fixed;
	right: 1%;
	bottom: 1%;
	top: 1%;
	height: 100%;
	width: 45%;
}

.icmcLogo {
	position: fixed;
	left: 15%;
	top: 60%;
	width: 30%;
}

.expiredColor {
	border-radius: 10px;
	background-color: #f0ad4e;
}

.readyColor {
	border-radius: 10px;
	background-color: #5bc0de;
}

.blockedColor {
	border-radius: 10px;
	background-color: #d9534f;
}


.execColor {
	border-radius: 10px;
	background-color: #5cb85c;
}

.processBg {
	border-radius: 7px;
	background-color: #DADFE0;
	text-align: center;
}

.processBg span {
	margin: 5px;
}

.processWell {
	margin-top: 30px;
	margin-bottom: 0px;
	width: 350px;
}

.col-sm-3 {
	margin: 0px;
}

.form-group label, select, textarea {
	margin: 2px 3px 5px 3px;
}

.processTexts {
	margin-left: -10px;
	width: 80px;
}

.processTextsIO {
	margin-left: -10px;
	width: 70px;
}

.modal-info {
	margin: 20px;
}

.readyButton {
	position: fixed;
	width: 400px;
	height: 50px;
	bottom: 40px;
	margin-left: 600px;
}

.modal-sub-title {
	margin: 10px;
	padding: 7px;
	height: 40px;
	text-align: center;
	border-radius: 5px;
	background: #D1D1D1;
}

.preset {
	padding: 10px;
	width: 650px;
	vertical-align: text-top;
}

.col-md-11 {
	margin-left: 15px;
	margin-right: 10px;
}

#automatic {
	position: fixed;
	width: 200px;
	height: 50px;
	bottom: 40px;
	margin-left: 50px;
	margin-right: 50px;
}

#stepByStep {
	position: fixed;
	width: 200px;
	height: 50px;
	bottom: 40px;
	margin-left: 300px;
	margin-right: 50px;
}

.mainButtons{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: text-top;	
}

#info {
	width: 500px;
	margin: 20px;
	margin-left: 60px;
	margin-right: 40px;
	text-align: center;
	vertical-align: text-top;
}

#counter {
	padding: 10px;
	text-align: center;
    width: 100px;
	margin: 20px;
	margin-left: 30px;
	background-color: #DADFE0;
}
