body {
	background-color: #eee;
}

.expiredColor {
	border-radius: 10px;
	background-color: #f0ad4e;
}

.readyColor {
	border-radius: 10px;
	background-color: #5bc0de;
}

.blockedColor {
	border-radius: 10px;
	background-color: #d9534f;
}

.execColor {
	border-radius: 10px;
	background-color: #5cb85c;
}

.processBg {
	border-radius: 10px;
	background-color: #DADFE0;
	padding-left: 10px;
	padding-right: 10px;
}